.App {
  direction: rtl;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.App-preview {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  /* background-color: #fdfdfd; */
}

.App-config-pane {
  box-sizing: content-box;
  width: 35%;
  /* background-color: #8cc7fe; */
}