body {
  margin: 0;
}

.App {
  direction: rtl;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.App-preview {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-config-pane {
  box-sizing: border-box;
  width: 35%;
}

.MuiDialogContentText-root {
  text-align: justify;
}

.App-logo {
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 700px) {
  .App {
    flex-direction: column;
    overflow-y: scroll;
  }
  
  .App-config-pane {
    height: fit-content;
    width: 100%;
    padding: 16px;
  }

  .App-preview {
    overflow-y: visible;
  }
}

